.point-wrapper {
  display: contents;
}
 
.point-point {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon1 {
  width: 12px;
  height: 12px;
}
 
.point-text1 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text33 {
  display: inline-block;
}

.point-wrapper-0ane {
  display: contents;
}
 
.point-point1 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check1 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon3 {
  width: 12px;
  height: 12px;
}
 
.point-text2 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text36 {
  display: inline-block;
}

.point-wrapper-wz5v {
  display: contents;
}
 
.point-point2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check2 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon5 {
  width: 12px;
  height: 12px;
}
 
.point-text3 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text37 {
  display: inline-block;
}

.point-wrapper-gd12 {
  display: contents;
}
 
.point-point3 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check3 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon7 {
  width: 12px;
  height: 12px;
}
 
.point-text4 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text38 {
  display: inline-block;
}

.point-wrapper-v2vd {
  display: contents;
}
 
.point-point4 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check4 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon9 {
  width: 12px;
  height: 12px;
}
 
.point-text5 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text39 {
  display: inline-block;
}

.point-wrapper-kqa0 {
  display: contents;
}
 
.point-point5 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.point-check5 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #EBFAF9;
}
 
.point-icon11 {
  width: 12px;
  height: 12px;
}
 
.point-text6 {
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 24px;
}
 
.home-fragment6 {
  display: contents;
}
 
.home-text40 {
  display: inline-block;
}

.social-wrapper {
  display: contents;
}
 
.social-social {
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(236, 233, 234, 0.2);
}
 
.social-social:hover {
  background-color: rgba(236, 233, 234, 0.6);
}
 
.social-insider {
  width: 18px;
  height: 18px;
}
 

 


.social-wrapper-cahb {
  display: contents;
}
 
.social-social1 {
  cursor: pointer;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  transition: 0.3s;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(236, 233, 234, 0.2);
}
 
.social-social1:hover {
  background-color: rgba(236, 233, 234, 0.6);
}
 
.social-insider1 {
  width: 18px;
  height: 18px;
}
 

 


.footer-wrapper {
  display: contents;
}
 
.footer-footer {
  gap: var(--dl-layout-space-threeunits);
  color: white;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-sixunits);
  background-color: #000000;
}
 
.footer-content {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.footer-information {
  gap: var(--dl-layout-space-unit);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.footer-heading {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.footer-text1 {
  font-size: 14px;
  font-family: "Poppins";
  line-height: 21px;
}
 
.footer-socials {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 265px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.footer-link1 {
  display: contents;
}
 
.footer-component1 {
  text-decoration: none;
}
 
.footer-link2 {
  display: contents;
}
 
.footer-component2 {
  text-decoration: none;
}
 
.footer-navlink {
  color: rgb(196, 196, 196);
  width: 100%;
  font-size: 14px;
  max-width: 1200px;
  line-height: 21px;
  text-decoration: none;
}
 
.footer-text2 {
  color: rgb(196, 196, 196);
  width: 100%;
  font-size: 14px;
  max-width: 1200px;
  line-height: 21px;
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
}
 
.home-hero {
  width: 100%;
  height: 682px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-heading1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.home-notification {
  width: 100%;
}
 
.home-content1 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  max-width: auto;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/section-bg1-700h.png");
}
 
.home-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 721px;
  display: flex;
  z-index: 20;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-sixunits);
  padding-left: var(--dl-layout-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-sixunits);
  justify-content: center;
}
 
.home-title {
  width: 547px;
  font-size: 60px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 76px;
}
 
.home-caption1 {
  font-size: 18px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 400;
  line-height: 27px;
}
 
.home-hero-buttons {
  gap: var(--dl-layout-space-unit);
  display: flex;
  z-index: 15;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-ios-btn {
  gap: var(--dl-layout-space-halfunit);
  fill: white;
  color: white;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-layout-space-oneandhalfunits);
  padding-left: var(--dl-layout-space-twounits);
  border-radius: var(--dl-layout-radius-radius8);
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-oneandhalfunits);
  justify-content: center;
  background-color: #3B669A;
}
 
.home-ios-btn:hover {
  background-color: rgba(0, 0, 0, 0.75);
}
 
.home-apple {
  width: 16px;
  height: 20px;
}
 
.home-caption2 {
  font-style: normal;
  font-family: "Poppins";
  font-weight: 500;
}
 
.home-sections {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  padding-right: var(--dl-layout-space-halfunit);
  flex-direction: column;
}
 
.home-section1 {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 10;
  align-items: center;
  padding-top: var(--dl-layout-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
}
 
.home-content3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-heading2 {
  gap: var(--dl-layout-space-unit);
  width: 746px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-left: var(--dl-layout-space-halfunit);
  flex-direction: column;
  justify-content: center;
}
 
.home-text24 {
  width: 479px;
  font-size: 40px;
  max-width: 535px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
  line-height: 56px;
}
 
.home-text25 {
  font-size: 18px;
  max-width: 535px;
  font-family: Poppins;
  line-height: 27px;
}
 
.home-content4 {
  gap: var(--dl-layout-space-threeunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-image1 {
  width: 421px;
  height: 577px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  justify-content: center;
  background-image: url("public/ss1-500w.png");
  background-repeat: no-repeat;
  background-position: center;
}
 
.home-section2 {
  gap: var(--dl-layout-space-sixunits);
  width: 100%;
  height: 615px;
  display: flex;
  z-index: 10;
  align-items: flex-start;
  padding-top: 13px;
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-sixunits);
  justify-content: center;
}
 
.home-image2 {
  width: 282px;
  height: 573px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  background-size: cover;
  justify-content: center;
  background-image: url("public/ss2-400w.png");
  background-repeat: no-repeat;
  background-position: center;
}
 
.home-content5 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 523px;
  display: flex;
  margin-top: var(--dl-layout-space-fiveunits);
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text30 {
  font-size: 40px;
  max-width: 640px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  line-height: 56px;
}
 
.home-points {
  gap: var(--dl-layout-space-unit);
  width: 653px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text33 {
  display: inline-block;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text36 {
  display: inline-block;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text37 {
  display: inline-block;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text38 {
  display: inline-block;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text39 {
  display: inline-block;
}
 
.home-fragment6 {
  display: contents;
}
 
.home-text40 {
  display: inline-block;
}
 
.home-banner-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
}
